#about
  %h1 about
  %br
  %p
    I'm Torie, a software developer at
    = link_to "CareZone", "https://carezone.com"
    in Seattle, WA.
    I didn't get here via the traditional route &mdash; I originally studied economics,
    and then went back to school to study software development at
    = link_to "Turing", "https://www.turing.io"
    in Denver, Colorado. I'm also a book lover, cyclist, soccer fan, and amateur botanist.
    %br
    %br
    = link_to "Get in touch!", contact_path
