= render "shared/navbar"

#about
  %h1 about
  %br
  %p
    I'm Torie, a software developer at
    = link_to "CareZone", "https://carezone.com"
    in Seattle, WA.
    %br
    %br
    I didn't get here via the traditional route. I studied economics at
    Dalhousie University in Halifax, where I fell in love with programming in R.
    After a spending a year at the Bank of Canada, I went back to school to study software development at
    = link_to "Turing", "https://www.turing.io"
    in Denver, Colorado.
    %br
    %br
    Apart from coding, I'm also a book lover, cyclist, soccer fan, and amateur botanist.
    %br
    %br
    = link_to "Get in touch!", contact_path
