= render "shared/navbar"

#about
  %h1 about
  %br
  %p
    Hey there! 👋 I'm Torie, a software engineer at
    = link_to "Wealthsimple", "https://wealthsimple.com/"
    in Toronto, Canada.
    %br
    %br
    My love of programming started while studying economics at
    Dalhousie University in Halifax, where I fell in love with R.
    After a spending a year at the Bank of Canada, I went back to school to study software development at
    = link_to "Turing", "https://www.turing.io"
    in Denver, Colorado. Since then, I've spent time at CareZone in Seattle and in
    Walmart's Health & Wellness division after their acquisition of CareZone's assets.
    %br
    %br
    Apart from coding, I'm working towards a Master's in Applied Neuroscience at King's College London.
    I'm also a book lover, cyclist, squash enthusiast, and soccer fan.
    %br
    %br
    = link_to "Get in touch!", contact_path
