= render "shared/navbar"

#about
  %h1 about
  %br
  %p
    Hey there! I'm Torie, a software engineer based in Toronto.
    %br
    %br
    I currently work in Walmart's Health & Wellness division,
    and am studying Applied Neuroscience at King's College London.
    I was previously at CareZone before Walmart acquired the company's assets.
    %br
    %br
    My love of programming started while studying economics at
    Dalhousie University in Halifax, where I fell in love with R.
    After a spending a year at the Bank of Canada, I went back to school to study software development at
    = link_to "Turing", "https://www.turing.io"
    in Denver, Colorado.
    %br
    %br
    Apart from coding, I'm also a book lover, cyclist, squash enthusiast, and soccer fan.
    %br
    %br
    = link_to "Get in touch!", contact_path
