#contact-header
  Get in touch!
#contact-info
  .contact-btn
    = link_to(fa_icon("twitter-square 5x", class: "contact-icon"), "https://twitter.com/torie_jw")
  .contact-btn
    = link_to(fa_icon("github-square 5x", class: "contact-icon"), "https://github.com/toriejw")
  .contact-btn
    = mail_to("torie.joywarren@gmail.com", fa_icon("envelope-square 5x", class: "contact-icon"))
  .contact-btn
    = link_to(fa_icon("linkedin-square 5x", class: "contact-icon"), "https://www.linkedin.com/in/toriejoywarren/")
