#post
  padding-top: 11%
  padding-left: 22%
  padding-right: 22%

  #title
    font-size: 2.1em
    margin-bottom: 0
    text-align: center

  #date
    text-align: center

  #post-body
    padding-top: 1%
    padding-bottom: 15%

  h1
    font-size: 1.6em
    padding-bottom: 7px
    padding-top: 15px

  h2
    font-size: 1.3em

  h3, h4
    font-size: 1.1em
    font-weight: bold

  p
    padding-bottom: 5px
    padding-top: 5px

  pre
    font-size: 95%
    color: #c7254e
    padding-bottom: 3px
