#blog-posts
  padding-top: 3%
  padding-left: 17%
  padding-right: 17%

  #post-title
    font-size: 22px
    margin-bottom: 18px

  #post-preview
    h1
      font-size: 1.3em

    h2
      font-size: 1.15em

    h3, h4
      font-size: 1em
