#blog-posts
  padding-top: 10%
  padding-left: 22%
  padding-right: 22%

  h1
    margin-bottom: 6%
    color: #ab81d9
    

  .pencil-icon
    color: #ab81d9

  .blog_post
    padding-top: 0.3%
    padding-bottom: 0.3%

    #post-title
      font-size: 22px
      margin-bottom: 0px

      a
        color: black

      a:hover
        color: #8446c7
        text-decoration: none

    #post-date
      margin-top: 5px
      margin-bottom: 18px
      font-weight: bold
