#blog-posts
  padding-top: 3%
  padding-left: 22%
  padding-right: 22%

  .blog_post
    padding-bottom: 0.75%

    #post-title
      font-size: 22px
      margin-bottom: 0px

    #post-date
      margin-top: 5px
      margin-bottom: 18px
      font-weight: bold

    #post-preview
      h1
        font-size: 1.3em

      h2
        font-size: 1.15em

      h3, h4
        font-size: 1em
